

	<div id="hero-unit" class="hero-unit hero-light hero-video" data-vide-bg="css/motion" data-vide-options="loop: false, posterType: png" >
		<div class="hero-content text-center">
			<div id="slidecaption" class="slide-caption">
				<div class="hero-text">
					<p>Thank You for Getting in Touch</p>
					<br />
					<p>We Will Be in Contact Shortly</p>
				</div>
			</div>
				<!-- <div class="hero-buttons">
				<a href="#contact" id="btn-contact" class="btn btn-primary btn-lg">Home</a>
			</div> -->
		</div>
		<div class="hero-bg-pattern"></div>
	</div>
